<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
      {{> "systems/dee/templates/actor/partials/actor-header.html"}}
    </header>
    

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs side" data-group="primary">
        <a class="item" data-tab="resources">Resources</a>
        <a class="item" data-tab="abilities">Abilities</a>
        <a class="item" data-tab="items">Possessions</a>
        <a class="item" data-tab="affiliations">Affiliations</a>
        <a class="item" data-tab="esoterica">Esoterica</a>
        <a class="item" data-tab="effects">Effects</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Resources Tab --}}
        <div class="tab stats" data-group="primary" data-tab="resources">
            {{> "systems/dee/templates/actor/partials/actor-resources.html"}}
        </div>

        {{!-- Abilities Tab --}}
        <div class="tab abilities" data-group="primary" data-tab="abilities">
            {{> "systems/dee/templates/actor/partials/actor-abilities.html"}}
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            {{> "systems/dee/templates/actor/partials/actor-possessions.html"}}
        </div>

        {{!-- Affliations Tab --}}
        <div class="tab biography" data-group="primary" data-tab="affiliations">
            {{> "systems/dee/templates/actor/partials/actor-affiliations.html"}}
            {{!-- editor content=data.biography target="data.biography" button=true owner=owner editable=editable --}}
        </div>

        {{!-- Esoterica Tab --}}
        <div class="tab esoterica" data-group="primary" data-tab="esoterica">
            {{> "systems/dee/templates/actor/partials/actor-esoterica.html"}}
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects" data-group="primary" data-tab="effects">
            <ol class="items-list effects-list">
                {{#each effects as |section sid|}}
                  <li class="items-header flexrow" data-effect-type="{{section.type}}">
                    <h3 class="item-name effect-name flexrow">{{localize section.label}}</h3>
                    <div class="effect-source">Source</div>
                    <div class="effect-source">Duration</div>
                    <div class="item-controls effect-controls flexrow">
                      <a class="effect-control" data-action="create" title="{{localize 'DEE.EffectCreate'}}">
                        <i class="fas fa-plus"></i> {{localize "DEE.Add"}}
                      </a>
                    </div>
                  </li>
              
                  <ol class="item-list">
                  {{#each section.effects as |effect|}}
                    <li class="item effect flexrow" data-effect-id="{{effect.id}}">
                      <div class="item-name effect-name flexrow">
                        <img class="item-image" src="{{effect.data.icon}}" width="24" height="24"/>
                        <h4>{{effect.data.label}}</h4>
                      </div>
                      <div class="effect-source">{{effect.sourceName}}</div>
                      <div class="effect-duration">{{effect.duration.label}}</div>
                      <div class="item-controls effect-controls flexrow">
                        <a class="effect-control" data-action="toggle" title="{{localize 'DEE.EffectToggle'}}">
                          <i class="fas {{#if effect.data.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
                        </a>
                        <a class="effect-control" data-action="edit" title="{{localize 'DEE.EffectEdit'}}">
                          <i class="fas fa-edit"></i>
                        </a>
                        <a class="effect-control" data-action="delete" title="{{localize 'DEE.EffectDelete'}}">
                          <i class="fas fa-trash"></i>
                        </a>
                      </div>
                    </li>
                  {{/each}}
                  </ol>
                {{/each}}
              </ol>
        </div>
    </section>
</form>

