.sheet-logo { grid-area: logo; }
.actor-portrait { grid-area: pic; }
.actor-name { grid-area: name; }
.actor-occupation { grid-area: occupation; }
.actor-home { grid-area: home; }
.actor-manner { grid-area: manner;}
.actor-trade { grid-area: trade;}

.sheet-header-table {
  display: grid;
  grid-template-areas:
    'logo pic name name'
    'logo pic occupation occupation'
    'logo pic home home'
    'trade manner manner manner';
  grid-gap: 1px;
  padding: 1px;
}

.sheet-injuries-table {
  display: grid;
  width:100%;
  grid-template-columns: 100px 1fr;
  align-items: flex-start;
  .injury-header {
    font-weight: bold;
    font-style: italic;
    font-size: large;
  }
}

.sheet-expertise-table {
  display: grid;
  width:100%;
  grid-template-columns: 100px 1fr;
  .possessions-header {
    font-weight: bold;
    font-style: italic;
    font-size: large;
  }
}

