<form autocomplete="off">
  <div class="actor header flexrow" style="flex-wrap: nowrap;">
    <div>
      <a class="item-control resync"><i class="fas fa-sync"></i></a>
    </div>
    {{#if user.isGM}}
    <div class="item-controls flexrow" style="flex-grow: 3;" >
      <h3 style="flex-grow: 3;">Tradecraft for this adventure</h3>
      <div class="trade">
        <div class="tradecraft show" style="background-image: url('{{ trade tradecraft}}');background-color:'white';" title="{{ localize 'DEE.TradecraftSelect'}}">
            <select class="hide" id="tradecraft-sel">
                <option selected value="0">-</option>
                <option value="A">Access</option>
                <option value="C">Conspiracy</option>
                <option value="K">Kit</option>
                <option value="M">Magic</option>
                <option value="S">System</option>
                <option value="V">Vigilance</option>
            </select> 
        </div>
      </div>
      <div class="item-control">
        <button type="button" class="select-actors" title="{{localize 'DEE.dialog.selectagents'}}"><i class="fas fa-users"></i></button>
      </div>
    </div>
    {{/if}}
  </div>
  <ol class="actor-list">
    {{#each data.documents as |e|}} {{#if e.data.flags.dee.party}}
    <li class="actor flexrow" data-actor-id="{{e.id}}">
      <div class="field-img">
        <img src="{{e.img}}" class="profile actor-profile"/>
        <div class="img-btns flexrow">
          <button type="button" data-action="open-sheet"><i class="fas fa-user"></i></button>
        </div>
      </div>
      <div class="fields">
        <div class="flexrow field-row">
          <div title="{{e.name}}" class="field-name flex2">
            {{e.name}}
            {{#if e.hasPlayerOwner}}
            &nbsp;<span style="font-style: italic;">({{player e.id}})</span>
            {{/if}}
            {{#unless (eq e.data.data.occupation "")}}
            &nbsp;- {{e.data.data.occupation}}
            {{/unless}}
          </div>
          <div class="field-row" title="{{localize 'DEE.Hits'}}">
            {{#if (eq e.data.type 'agent')}}
               <i class="fas fa-star" title="{{localize 'DEE.Fortune'}}"></i>
              {{ e.data.data.fortune}}
              <i class="fas fa-brain" title="{{localize 'DEE.resource.int.long'}}"></i>
              {{ e.data.data.resources.int.value}}
              <i class="fas fa-fist-raised" title="{{localize 'DEE.resource.phy.long'}}"></i>
              {{ e.data.data.resources.phy.value }}
              <i class="fas fa-ghost" title="{{localize 'DEE.resource.sup.long'}}"></i>
              {{ e.data.data.resources.sup.value}}
              <i class="fas fa-dice-d6" title="{{localize 'DEE.resource.unravel.long'}}"></i>
              {{e.data.data.resources.unravel.value}}
            {{/if}}
            <i class="fas fa-heart"></i>
            {{e.data.data.hits.value}}
            {{#if e.data.data.falters.first}}
              <i class="fas fa-times"></i>
            {{/if}}
            {{#if e.data.data.falters.second}}
              <i class="fas fa-times"></i>
            {{/if}}
          </div>
        </div>
        <div class="field-row flexrow">
          <div class="field-longer">
            {{#each e.data.data.affiliations as |s i|}}
            <span title="{{localize 'DEE.tabs.affiliations'}}"><img src="{{s.img}}" width="10px">{{s.name}}</span>
            {{/each}}
          </div>
          <div class="field-longer">
            {{#each e.data.data.expertise.foci as |s i|}}
            <span title="{{localize 'DEE.Focus'}}"><img src="{{s.img}}" width="10px">{{s.name}}</span>
            {{/each}}
          </div>
          <div class="field-longer">
            {{#each e.data.data.favours as |s i|}}
            <span title="{{localize 'DEE.Favour'}}"><img src="{{s.img}}" width="10px">{{s.name}}</span>
            {{/each}}
          </div>
        </div>
        <div class="field-row flexrow">
          {{#each e.data.data.abilities as |s i|}}
          <span><img src="{{s.img}}" width="10px">{{s.name}} </span>
          {{/each}}
        </div>
        <div class="field-row flexrow">
          {{#each e.data.data.consequences as |s i|}}
          <span><img src="{{s.img}}" width="10px">{{s.name}} </span>
          {{/each}}
        </div>
      </div>
    </li>
    {{/if}} {{/each}}
  </ol>
</form>
