<form autocomplete="off">
  <header>
    {{> "systems/dee/templates/dialog/partials/party-sheet-header.html"}}
  </header>
  <nav class="sheet-tabs tabs side party" data-group="primary">
    <a class="item" data-tab="summary">Summary</a>
    <a class="item" data-tab="abilities">Abilities</a>
    <a class="item" data-tab="possessions">Possesions</a>
  </nav>
  <section class="sheet-body party-sheet">
    <div class="tab" data-group="primary" data-tab="summary">
      {{> "systems/dee/templates/dialog/partials/party-sheet-summary.html"}}
    </div>
    <div class="tab" data-group="primary" data-tab="abilities">
      {{> "systems/dee/templates/dialog/partials/party-sheet-abilities.html"}}
    </div>
    <div class="tab" data-group="primary" data-tab="possessions">
      {{> "systems/dee/templates/dialog/partials/party-sheet-possessions.html"}}
    </div>
  </section>
</form>
