<form class="dee possessions-dialog">
    <div>
        <h2>Choose three categories...</h2>
    </div>
    <div class="flexrow">
        <div style="min-width:fit-content;">
            <input type="checkbox" name="possessions" value="Clothing" id="clothing">
            <label for="clothing">Clothing</label>
        </div>
        <div style="min-width:fit-content;">
            <input type="checkbox" name="possessions" value="Weapons" id="weapons">
            <label for="weapons">Weapons</label>
        </div>
        <div style="min-width:fit-content;">
            <input type="checkbox" name="possessions" value="Printed Matter" id="printedmatter">
            <label for="printedmatter">Printed Matter</label>
        </div>
        <div style="min-width:fit-content;">
            <input type="checkbox" name="possessions" value="Tools" id="tools">
            <label for="tools">Tools</label>
        </div>
        <div style="min-width:fit-content;">
            <input type="checkbox" name="possessions" value="Odds and Ends" id="oddsandends">
            <label for="oddsandends">Odds and Ends</label>
        </div>
    </div>
</form>