<form class="dee possessions-dialog">
    <div>
        <h2>Choose three categories...</h2>
    </div>
    <div class="flexrow">
        <input type="checkbox" name="possessions" value="Clothing" id="clothing">
        <label for="clothing">Clothing</label>
        <br>
        <input type="checkbox" name="possessions" value="Weapons" id="weapons">
        <label for="weapons">Weapons</label>
        <br>
        <input type="checkbox" name="possessions" value="Printed Matter" id="printedmatter">
        <label for="printedmatter">Printed Matter</label>
        <br>
        <input type="checkbox" name="possessions" value="Tools" id="tools">
        <label for="tools">Tools</label>
        <br>
        <input type="checkbox" name="possessions" value="Odds and Ends" id="oddsandends">
        <label for="oddsandends">Odds and Ends</label>
        <br>
    </div>
</form>