@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');

$font-primary: 'IM Fell English', serif;
$font-secondary: 'IM Fell English', serif;

.message-content,
.welcome-content,
.dee.application .window-content,
.app.dee .window-content,
.dee.sheet .window-content {
  &,
  & h1,
  & h2,
  & h3,
  & h4 {
    font-family: $font-primary;
    font-style: italic;
    // font-size: revert;
    color: $c-black;
    text-shadow: none;
    margin: 0px;
  }

  & h2 {
    padding-top: 2%;
  }
}