<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="flexrow">
                <div class="resource flexcol" style="align-items: flex-start;">
                  <label class="resource-label">{{localize "DEE.consequence.resource"}}</label>
                    <select class="" id="consequence-sel">
                        <option {{isSelected data.resource "" }} value="">?</option>
                        <option {{isSelected data.resource "phy" }} value="phy">{{localize "DEE.resource.phy.long"}}</option>
                        <option {{isSelected data.resource "int" }} value="int">{{localize "DEE.resource.int.long"}}</option>
                        <option {{isSelected data.resource "sup" }} value="sup">{{localize "DEE.resource.sup.long"}}</option>
                    </select> 
                </div>
                <div class="resource flexcol" style="align-items: flex-start;">
                    <label class="resource-label">{{localize "DEE.Potency"}}</label>
                    <div>
                        {{#if (gt data.potency 0)}}<i class="fas fa-caret-up" style="font-size: small;text-align: right;"></i>{{/if}}
                        {{#if (lt data.potency 0)}}<i class="fas fa-caret-down" style="font-size: small;text-align: right;"></i>{{/if}}
                        <input id="potency-sel" type="text" style="width: 25%" name="data.potency" value="{{data.potency}}" data-dtype="Number" size="2" maxlength="2" />    
                    </div>
                </div>
              </div>
        </div>
    </header>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="editor">{{ localize 'DEE.tabs.notes'}}</a>
      {{#if config.showEffects }}
      <a class="item" data-tab="effects">{{ localize 'DEE.tabs.effects'}}</a>
      {{/if}}
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
      {{#if config.showEffects}}
        <div class="tab effects" data-group="primary" data-tab="effects">
          {{> "systems/dee/templates/item/partials/item-effects.html"}}
        </div>
      {{/if }}
      {{!-- Description Tab --}}
      <div class="tab editor item-editor" data-group="primary" data-tab="editor">
          {{editor data.description target="system.description" button=true owner=owner editable=editable}}
      </div>
    </section>
</form>
