<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="editor">Notes</a>
      {{#if config.showEffects }}
      <a class="item" data-tab="effects">Effects</a>
      {{/if}}
    </nav>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{#if config.showEffects}}
        <div class="tab effects" data-group="primary" data-tab="effects">
            {{> "systems/dee/templates/item/partials/item-effects.html"}}
        </div>
      {{/if }}
      {{!-- Description Tab --}}
      <div class="tab editor item-editor" data-group="primary" data-tab="editor">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
