<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
      <div class="flexcol" style="justify-content: center;align-items: center;">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="flexrow">
          <label class="resource-label" style="padding-top: 5px;">{{ localize 'DEE.item.esoteric'}}</label>
          <input type="checkbox" name="system.esoteric" value="{{data.esoteric}}" {{isChecked data.esoteric }} data-dtype="Boolean"/>
        </div>
      </div>
      <div class="header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
          <div class="grid grid-2col">
            <div class="resource">
              <label class="resource-label">{{ localize 'DEE.item.quantity'}}</label>
                <input type="text" name="system.quantity" value="{{data.quantity}}" data-dtype="Number"/>
            </div>
            <div class="resource">
              <label class="resource-label">{{ localize 'DEE.item.weight'}}</label>
                <input type="text" name="system.weight" value="{{data.weight}}" data-dtype="Number"/>
            </div>
          </div>
      </div>
    </header>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="editor">{{ localize 'DEE.tabs.notes'}}</a>
      {{#if config.showEffects }}
      <a class="item" data-tab="effects">{{ localize 'DEE.tabs.effects'}}</a>
      {{/if}}
    </nav>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
      {{#if config.showEffects}}
        <div class="tab effects" data-group="primary" data-tab="effects">
            {{> "systems/dee/templates/item/partials/item-effects.html"}}
        </div>
      {{/if }}
      {{!-- Description Tab --}}
      <div class="tab editor item-editor" data-group="primary" data-tab="editor">
            {{editor data.description target="system.description" button=true owner=owner editable=editable}}
      </div>
    </section>
</form>
