<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{ localize 'DEE.Occupation'}}</a>
        <a class="item" data-tab="abilities">{{ localize 'DEE.tabs.abilities'}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor data.description target="system.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab abilities" data-group="primary" data-tab="abilities">
            {{> "systems/dee/templates/item/partials/item-abilities-list.html"}}
        </div>
    </section>
</form>
