<div class="actor header flexrow" style="flex-wrap: nowrap;">
    <div>
        <a class="item-control resync"><i class="fas fa-sync"></i></a>
    </div>
    {{#if user.isGM}}
    <div class="item-controls flexrow" style="flex-grow: 3;" >
        <h3 style="flex-grow: 3;">Tradecraft for this adventure</h3>
        <div class="trade">
        <div class="tradecraft show" style="background-image: url('{{ trade tradecraft}}');background-color:'white';" title="{{ localize 'DEE.TradecraftSelect'}}">
            <select class="hide" id="tradecraft-sel">
                <option selected value="0">-</option>
                <option value="A">Access</option>
                <option value="C">Conspiracy</option>
                <option value="K">Kit</option>
                <option value="M">Magic</option>
                <option value="S">System</option>
                <option value="V">Vigilance</option>
            </select> 
        </div>
        </div>
        <div class="item-control">
        <button type="button" class="select-actors" title="{{localize 'DEE.dialog.selectagents'}}"><i class="fas fa-users"></i></button>
        </div>
    </div>
    {{/if}}
</div>