  <nav class="sheet-tabs tabs side party" data-group="primary">
    <a class="item {{tabs.summary.cssClass}}" data-action="tab" data-tab="summary" data-group="primary" >Summary</a>
    <a class="item {{tabs.abilities.cssClass}}" data-action="tab" data-tab="abilities" data-group="primary" >Abilities</a>
    <a class="item {{tabs.possessions.cssClass}}" data-action="tab" data-tab="possessions" data-group="primary" >Possesions</a>
  </nav>