<table>
    <tr class="actor-list">
        <th width="100"><img src="systems/dee/assets/default/icons/book.png" width="15px">&nbsp;<em>Ability</em></th>
        {{#party as |e|}}
        <th class="actor" data-actor-id="{{e.id}}">
            <div class="field-img">
                <img src="{{e.img}}" class="profile actor-profile" title="{{e.name}}"/>
                <div class="img-btns flexrow">
                    <button type="button" data-action="open-sheet"><i class="fas fa-user"></i></button>
                </div>
            </div>
        </th>
        {{/party}}
    </tr>
    {{#each abilities as |a i|}}
    <tr align="center">
        <td>{{i}}</td>
        {{#each ../party as |e|}}
        <td>
            {{#if (contains e a)}}
            <i class="far fa-check-square"></i>
            {{else}}
            <i class="far fa-square"></i>
            {{/if}}
        </td>
        {{/each}}
    </tr>
    {{/each}}
</table>