<div autocomplete="off" onsubmit="event.preventDefault();">
    <select name="trade" class="hide" id="tradecraft-sel" data-action="selectTradecraft">
        {{ selectOptions config.tradecraft selected=tradecraft }}
    </select> 
</div>