<div class="header-fields">
    <div class="sheet-header-table">
        <div class="sheet-logo">
            <i>the</i><h1>Dee</h1>
            <h2>Sanction</h2>
        </div>
        <div class="trade">
            <div class="tradecraft show" style="background-image: url('{{ trade data.tradecraft}}');">
                <select class="hide" id="tradecraft-sel">
                    <option selected value="0">-</option>
                    <option value="A">Access</option>
                    <option value="C">Conspiracy</option>
                    <option value="K">Kit</option>
                    <option value="M">Magic</option>
                    <option value="S">System</option>
                    <option value="V">Vigilance</option>
                </select> 
            </div>
        </div>
        <div class="actor-portrait">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        </div>
        <div class="actor-name">
            <h3 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h3>
        </div>
        <div class="actor-occupation">
            <h3 class="occupation">{{data.occupation}}</h3>
        </div>
        <div class="actor-home">
            <h3 class="home"><input name="data.home" type="text" value="{{data.home}}" placeholder="Home town" data-dtype="String"/></h3>
        </div>
        <div class="actor-manner">
            <h3 class="manner"><input name="data.mannerism" type="text" value="{{data.mannerism}}" data-dtype="String" placeholder="Mannerism"/></h3>
        </div>
    </div>
</div>