<div class="header-fields">
    <div class="sheet-header-table">
        <div class="sheet-logo">
            <i>the</i><h1>Dee</h1>
            <h2>Sanction</h2>
            {{#if (unlocked actor) }}
            <i id="padlock" class="fas fa-lock-open" style="padding-top: 4px;"></i>
            {{else}}
            <i id="padlock" class="fas fa-lock" style="padding-top: 4px;"></i>
            {{/if}}
        </div>
        <div class="trade">
            <div class="tradecraft show" style="background-image: url('{{ trade data.tradecraft}}');" title="{{ localize 'DEE.TradecraftSelect'}}">
                {{#if (unlocked actor)}}
                {{#unless (inParty actor)}}
                <select class="hide" id="tradecraft-sel">
                    <option selected value="0">-</option>
                    <option value="A">Access</option>
                    <option value="C">Conspiracy</option>
                    <option value="K">Kit</option>
                    <option value="M">Magic</option>
                    <option value="S">System</option>
                    <option value="V">Vigilance</option>
                </select>
                {{/unless}}
                {{/if}}
            </div>
        </div>
        <div class="actor-portrait">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        </div>
        <div class="actor-name" style="display: inline-flex;">
            <h3 class="charname" style="display: contents;"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h3>
            {{#if (unlocked actor) }}
            <i id="name-roll" class="fas fa-dice generate" style="padding-top: 4px;"></i>
            {{/if}}
        </div>
        <div class="actor-occupation">
            <h3 class="occupation">{{data.occupation}}</h3>
        </div>
        <div class="actor-home" style="display: inline-flex;">
            <h3 class="home" style="display: contents;"><input name="data.home" type="text" value="{{data.home}}" placeholder="Home town" data-dtype="String"/></h3>
            {{#if (unlocked actor) }}
            <i id="home-roll" class="fas fa-dice generate" style="padding-top: 4px;"></i>
            {{/if}}
        </div>
        <div class="actor-manner" style="display: inline-flex;">
           <h3 class="manner" style="display: contents;"><input name="data.mannerism.detail" type="text" value="{{data.mannerism.detail}}" data-dtype="String" placeholder="Mannerism"/></h3>
           {{#if (unlocked actor) }}
           <i id="manner-roll" class="fas fa-dice generate" style="padding-top: 4px;"></i>
           {{/if}}
        </div>
    </div>
</div>