{{!-- Owned Items Tab --}}
<div class="sheet-expertise-table">
    <div class="armour">
        <div class="fortune-header" style="padding: 0.6em;">Armour</div>
        <div class="resource">
            <img class="resource-bg" src="/systems/dee/assets/default/armour.png">
            <div class="armour-die flexrow flex-center">
                <div class="flexcol" data-resource="armour">
                    <a class="step-up"><i class="fas fa-caret-up"></i></a>
                    <a class="step-down"><i class="fas fa-caret-down"></i></a>
                </div>
                <img src="{{die data.resources.armour.value}}" class="rollable" data-roll="{{data.resources.armour.value}}" data-label="Armour" data-resource="armour">
            </div>
        </div>
    </div>
    <div class="possessions">
        <ol class="items-list">
            <li class="flexrow item-header">
                <div class="possessions-header">Mundane Possessions</div>
                <div class="item-controls">
                <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i></a>
                </div>
            </li>
        {{#each owned.items as |item id|}}
            {{#if (eq item.data.esoteric false)}}
            <li class="item-entry flexcol" data-item-id="{{item._id}}">
                <div class="item flexrow">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
            </li>
            {{/if}}
        {{/each}}
        </ol>
    </div>
</div>