<div class="header-fields">
    <div class="sheet-header-table">
        <div class="sheet-logo">
            <i>the</i><h1>Dee</h1>
            <h2>Sanction</h2>
            <div class="tradecraft show" style="background-image: url('{{ trade actor.data.tradecraft}}');">
                <select class="hide" id="tradecraft-sel">
                    <option selected value="0">-</option>
                    <option value="A">Access</option>
                    <option value="C">Conspiracy</option>
                    <option value="K">Kit</option>
                    <option value="M">Magic</option>
                    <option value="S">System</option>
                    <option value="V">Vigilance</option>
                </select> 
            </div>
        </div>
        <div class="actor-portrait">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        </div>
        <div class="actor-name">
            <h3 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h3>
        </div>
        <div class="actor-occupation">
            <h3 class="occupation"><input name="occupation" type="text" value="{{actor.occupation}}" placeholder="Occupation"/></h3>
        </div>
        <div class="actor-home">
            <h3 class="home"><input name="home" type="text" value="{{actor.home}}" placeholder="Home town"/></h3>
        </div>
    </div>
    {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
    use both the "grid" and "grid-Ncol" class where "N" can be any number
    from 1 to 12 and will create that number of columns.  --}}
    <div class="abilities grid grid-3col">
    {{#each data.abilities as |ability key|}}
        <div class="ability flexrow flex-group-center">
        <label for="data.abilities.{{key}}.value" class="resource-label">{{key}}</label>
        <input type="text" name="data.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
        <span class="ability-mod rollable" data-roll="d20+@abilities.{{key}}.mod" data-label="{{key}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
        </div>
    {{/each}}
    </div>
</div>