<div class="resources flexrow">
    <div class="resource">
        <img class="resource-bg" src="/systems/dee/assets/default/resource.png">
        <div class="resource-content resource-die flexrow flex-center">
            <input type="text" name="data.resources.int.value" value="{{data.resources.int.value}}" data-dtype="String" placeholder="1d6"/>
        </div>
        <label for="data.resources.int.value" class="resource-label">&nbsp;&nbsp;Intellectuall</label>
    </div>
    <div class="resource">
        <img class="resource-bg" src="/systems/dee/assets/default/resource.png">
        <div class="resource-content resource-die flexrow flex-center">
            <input type="text" name="data.resources.phy.value" value="{{data.resources.phy.value}}" data-dtype="String" placeholder="1d6"/>
        </div>
        <label for="data.resources.phy.value" class="resource-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Physicall </label>
    </div>
    <div class="resource">
        <img class="resource-bg" src="/systems/dee/assets/default/resource.png">
        <div class="resource-content resource-die flexrow flex-center flex-between">
            <input type="text" name="data.resources.sup.value" value="{{data.resources.sup.value}}" data-dtype="String" placeholder="1d6"/>
        </div>
        <label for="data.resources.sup.value" class="resource-label">&nbsp;Supernaturall</label>
    </div>
</div>
<hr>
<div class="flexrow">
    <div class="flexcol">
        <div></div>
        <div>
            <h3>Injuries</h3>
        </div>
        <div class="hits">
            <img class="hits-bg" src="/systems/dee/assets/default/hits.png">
            <label for="data.hits.value" class="resource-label">&nbsp;Hits</label>
            <div class="hits-val flexrow flex-center">
                <input type="text" name="data.hits.value" value="{{data.hits.value}}" data-dtype="Number" placeholder="3" maxlength="1"/>
            </div>
        </div>
    </div>
    <div class="afflictions">
        <div class="item-controls">
            <ol class="items-list">
                <li class="item flexrow item-header">
                    <div>Affliction</div>
                    <div class="item-controls">
                    <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add item</a>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>