{{!-- expertise and abilities --}}
<div class="abilities">
    <ol class="items-list">
        <li class="flexrow item-header">
            <div class="fortune-header" title="{{ localize 'DEE.AffiliationsDetail'}}">{{ localize 'DEE.Affiliations'}}</div>
            <div class="item-controls">
            <a class="item-control item-create" title="{{localize 'DEE.Add'}} {{localize 'DEE.tab.affiliations'}}" data-type="association"><i class="fas fa-plus"></i></a>
            </div>
        </li>

    {{#each data.affiliations as |item id|}}
        <li class="item-entry flexcol" data-item-id="{{item.id}}">
            <div class="item flexrow">
                <div class="item-image"><img src="{{item.img}}" width="24" height="24"/></div>
                <h4 class="item-name">{{item.name}}</h4>
                <div class="item-controls">
                    <a class="item-control item-edit" title="{{localize 'DEE.Edit'}} {{localize 'DEE.tab.affiliations'}}"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="{{localize 'DEE.Delete'}} {{localize 'DEE.tab.affiliations'}}"><i class="fas fa-trash"></i></a>
                </div>
            </div>
        </li>
    {{/each}}
    </ol>
</div>