{{!-- resources --}}
<div class="resources flexrow">
    {{!-- intellectuall --}}
    <div class="resource">
        <img class="resource-bg" src="/systems/dee/assets/default/resource.png">
        <div class="resource-content resource-die flexrow flex-center">
            <div class="flexcol" data-resource="int">
                <a class="step-up"><i class="fas fa-caret-up"></i></a>
                <a class="step-down"><i class="fas fa-caret-down"></i></a>
            </div>
            <img class="step rollable" src="{{die data.resources.int.value}}" width="64" height="64" data-roll="{{data.resources.int.value}}" data-label="{{ localize 'DEE.resource.int.long' }}" data-resource="int">
        </div>
        <label for="data.resources.int.value" class="resource-label">&nbsp;&nbsp;{{ localize 'DEE.resource.int.long' }}</label>
    </div>
    {{!-- physicall --}}
    <div class="resource">
        <img class="resource-bg" src="/systems/dee/assets/default/resource.png">
        <div class="resource-content resource-die flexrow flex-center">
            <div class="flexcol" data-resource="phy">
                <a class="step-up"><i class="fas fa-caret-up"></i></a>
                <a class="step-down"><i class="fas fa-caret-down"></i></a>
            </div>
            <img class="step rollable" src="{{die data.resources.phy.value}}" width="64" height="64"data-roll="{{data.resources.phy.value}}" data-label="{{ localize 'DEE.resource.phy.long' }}" data-resource="phy">
        </div>
        <label for="data.resources.phy.value" class="resource-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ localize 'DEE.resource.phy.long' }} </label>
    </div>
    {{!-- supernaturall --}}
    <div class="resource">
        <img class="resource-bg" src="/systems/dee/assets/default/resource.png">
        <div class="resource-content resource-die flexrow flex-center flex-between">
            <div class="flexcol" data-resource="sup">
                <a class="step-up"><i class="fas fa-caret-up"></i></a>
                <a class="step-down"><i class="fas fa-caret-down"></i></a>
            </div>
            <img class="step rollable" src="{{die data.resources.sup.value}}" width="64" height="64" data-roll="{{data.resources.sup.value}}" data-label="{{ localize 'DEE.resource.sup.long' }}" data-resource="sup">
        </div>
        <label for="data.resources.sup.value" class="resource-label">&nbsp;{{ localize 'DEE.resource.sup.long' }}</label>
    </div>
    <div class="resource-balance">
        <i class="{{balance data.resources}}"></i>
    </div>
</div>
{{!-- injuries and consequences --}}
<div class="sheet-injuries-table">
    {{!-- injuries --}}
    <div class="flexcol">
        <div class="injury-header" style="padding-top: 0.4em;padding-left: 1.3em;">Injuries</div>
        <div class="hits">
            <img class="hits-bg" src="/systems/dee/assets/default/hits.png">
            <label for="data.hits.value" class="resource-label">&nbsp;Hits</label>
            <div class="hits-val flexrow flex-center">
                <input type="text" name="data.hits.value" value="{{data.hits.value}}" data-dtype="Number" placeholder="3" maxlength="1"/>
            </div>
            <div class="hits-falters">
                <input class="first" type="checkbox" name="data.falters.first" {{checked data.falters.first }} data-dtype="Boolean"/>
                <input class="second" type="checkbox" name="data.falters.second" {{checked data.falters.second }} data-dtype="Boolean"/>
            </div>
        </div>
    </div>
    {{!-- consequences --}}
    <div class="consequences">
        <ol class="items-list">
            <li class="flexrow item-header">
                <div class="injury-header">Consequences</div>
                <div class="item-header item-controls">
                <a class="item-control item-create" title="Create item" data-type="consequence"><i class="fas fa-plus"></i></a>
                </div>
            </li>
            {{#each data.consequences as |item id|}}
                <li class="item-entry flexcol" data-item-id="{{item.id}}">
                    <div class="item flexrow">
                        <h4 class="item-name">{{item.name}}</h4>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                </li>
            {{/each}}
        </ol>
    </div>
</div>