{{!-- resources --}}
{{!-- injuries and consequences --}}
<div class="potency flexrow">
    <div class="potency-header" style="padding: 0.6em;" >{{localize 'DEE.Potency'}}</div>
    <div class="potency-val flexrow">
        {{#if (gt data.resistance.potency 0)}}<i class="fas fa-caret-up" style="font-size: small;text-align: right;"></i>{{/if}}
        {{#if (lt data.resistance.potency 0)}}<i class="fas fa-caret-down" style="font-size: small;text-align: right;"></i>{{/if}}
        <input type="text" name="data.resistance.potency" value="{{data.resistance.potency}}" data-dtype="Number" title="{{ localize 'DEE.PotencyDetail'}}"/>
    </div>
    <div>&nbsp;</div>
</div>
<div class="enemy-resistance-table">
    {{!-- Hits --}}
    <div class="flexcol">
        <div class="resistance-header" style="padding: 0.6em;">{{ localize 'DEE.Hits'}}</div>
        <div class="hits" title="{{ localize 'DEE.HitsDetail'}}">
            <img class="hits-bg" src="/systems/dee/assets/default/hits.png">
            <div class="hits-val flexrow flex-center">
                <input type="text" name="data.hits.value" value="{{data.hits.value}}" data-dtype="Number" placeholder="3" maxlength="1"/>
            </div>
        </div>
    </div>
    {{!-- Resistance --}}
    <div class="armour" title="{{ localize 'DEE.ResistanceDetail'}}">
        <div class="resistance-header" style="padding: 0.6em;">{{ localize 'DEE.Resistance'}}</div>
        <div class="resource">
            <img class="resource-bg" src="/systems/dee/assets/default/armour.png">
            <div class="armour-die flexrow flex-center">
                <div class="flexcol" data-resource="armour">
                    <a class="step-up"><i class="fas fa-caret-up"></i></a>
                    <a class="step-down"><i class="fas fa-caret-down"></i></a>
                </div>
                {{#if (hasArmour data.resources.armour.value)}}
                <img src="{{die data.resources.armour.value}}" width="64" height="64" class="rollable" data-roll="{{data.resources.armour.value}}" data-label="Armour" data-resource="armour">
                {{/if}}
            </div>
        </div>
    </div>
    {{!-- consequences --}}
    <div class="consequences" title="{{ localize 'DEE.DragConsequences'}}">
        <ol class="items-list">
            <li class="flexrow item-header">
                <div class="resistance-header">{{ localize 'DEE.Consequences'}}</div>
            </li>
            {{#each data.consequences as |item id|}}
                <li class="item-entry flexcol" data-item-id="{{item.id}}">
                    <div class="item flexrow">
                        <h4 class="item-name">{{item.name}}</h4>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="{{localize 'DEE.Edit'}} {{localize 'DEE.Consequences'}}"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="{{localize 'DEE.Delete'}} {{localize 'DEE.Consequences'}}"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                </li>
            {{/each}}
        </ol>
    </div>
</div>