<div class="header-fields">
    <div class="sheet-header-enemy-table">
        <div class="sheet-logo">
            <i>the</i><h1>Dee</h1>
            <h2>Sanction</h2>
        </div>
        <div class="tradecraft-table">
            <div class="S">
                <input type="checkbox" value="S" name="data.resistance.mark.S" {{checked actor.data.resistance.mark.S }} data-dtype="Boolean">System</input>
            </div>
            <div class="K">
                <input type="checkbox" value="K" name="data.resistance.mark.K" {{checked actor.data.resistance.mark.K }} data-dtype="Boolean">Kit</input>
            </div>
            <div class="V">
                <input type="checkbox" value="V" name="data.resistance.mark.V" {{checked actor.data.resistance.mark.V }} data-dtype="Boolean">Vigilance</input>
            </div>
            <div class="M">
                <input type="checkbox" value="M" name="data.resistance.mark.M" {{checked actor.data.resistance.mark.M }} data-dtype="Boolean">Magic</input>
            </div>
            <div class="A">
                <input type="checkbox" value="A" name="data.resistance.mark.A" {{checked actor.data.resistance.mark.A }} data-dtype="Boolean">Access</input>
            </div>
            <div class="C">
                <input type="checkbox" value="C" name="data.resistance.mark.C" {{checked actor.data.resistance.mark.C }} data-dtype="Boolean">Conspiracy</input>
            </div>
        </div>
        <div class="actor-portrait">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        </div>
        <div class="actor-name">
            <h3 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h3>
        </div>
    </div>
</div>