.window-app {
  font-family: $font-primary;
  .window-content {
    background-image: url("../assets/default/paper.png");
    img {
      border:none;
    }
  }
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}

.generate {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}

section.dee.game-license {
  font-size: var(--font-size-12);
  padding: 10px;
  flex: auto;
}