
@import "./utils/variables.scss";

&.sheet.actor.agent {
    min-width: 400px;
    max-width: 450px;
    min-height: 575px;
    font-family: $font-primary;
    overflow: visible;

    .window-content {
    overflow: visible;
      background-image: url("../assets/default/paper.png");
      img {
        border:none;
      }

      input {
        box-shadow: none;
      }
    }
    
    .step-up {
        font-size: x-large;
    }

    .step-down {
        font-size: x-large;
    }

    img {
        border: 0px;
    }

    .sheet-header {
        input {
            border: 0px;
        }
    }
    .trade {
        .tradecraft {
            height: 30px;
            width: 40px;
            background-size: contain;
            background-repeat: no-repeat;

            .hide {
                width: 70px;
                border: 0px;
                display: none;
            }

            &:hover .hide {
                width: 70px;
                font-size: x-small;
                display: block;
            }

        }
    }

    .sheet-body {
        
        .tab.editor.agent-editor {
            height: 350px;
            div.editor {
                height: 350px;
            }
        }
        .abilities {
            .item-header {
                font-weight: bold;
                font-style: italic;
                font-size: large;
            }
        }
        .focus {
            .focus-text {
                input {
                    font-size: larger;
                    height: 1.5em;
                    border: 0px;
                }
            }
        }

        .sheet-expertise-table {
            .unravelling-header {
                font-weight: bold;
                font-style: italic;
                font-size: large;
            }
            .fortune-header {
                // padding: 0.6em;
                font-weight: bold;
                font-style: italic;
                font-size: large;
            }
    
            .fortune {
                position: relative;
                border: 0px;
                height: 100px;
                padding-left: 20px;
                
                .fortune-bg {
                    position: absolute;
                    height: 90px;
                }
    
                .fortune-val {
                    position: absolute;
                    height: 80px;
                    left: 34px;
                    input {
                        width: 30px;
                        height: 2em;
                        font-size:2.5em;
                        border: 0px;
                        background-color:transparent;
                        color: $c-black;
                    }
                }
    
                .resource-label {
                    position: absolute;
                    top: 20px;
                    left: 10px;
                    font-weight: bold;
                    text-align: center;
                    font-style: italic;
                }
            }
        }

        .hits {
            position: relative;
            border: 0px;
            height: 100px;
            padding-left: 20px;

            .hits-bg {
                position: absolute;
                height: 90px;
            }

            .hits-val {
                position: absolute;
                height: 80px;
                left: 34px;
                input {
                    width: 30px;
                    height: 24px;
                    font-size:1.7em;
                    border: 0px;
                    background-color:transparent;
                    color: $c-black;
                }
            }

            .resource-label {
                position: absolute;
                top: 12px;
                left: 34px;
                font-weight: bold;
                text-align: center;
                font-style: italic;
            }

            .hits-falters {
                position: relative;
                input[type=checkbox] {
                    opacity: 0;
                }

                input[type=checkbox]:checked {
                    opacity: 1;
                }

                input[type=checkbox]:checked::after {
                    content: "\f00d";
                    font-family: 'Font Awesome 6 Pro';
                    color: black;
                    opacity: 1;
                }

                input.first {
                    position: absolute;
                    top: 68px;
                    left: 0px;
                }

                input.second {
                    position: absolute;
                    top: 68px;
                    left: 33px;
                }
            }
        }

        .unravel {
            display: flex;
            flex-direction: column;
            position: relative;
            border: 0px;
            height: 100px;
            padding-left: 9px;

            .resource-bg {
                padding-left: 11px;
            }

            .unravel-die {
                position: absolute;
                height: 64px;
                top: 45px;
            }
        }

        .armour {
            display: flex;
            flex-direction: column;
            position: relative;
            border: 0px;
            height: 100px;
            padding-left:20px;

            .armour-die {
                position: absolute;
                height: 64px;
                top: 60px;
                left: 24px;
            }
        }

        .resources{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;

            .resource-balance {
                flex: 0;
            }
            .resource {
                position: relative;
                border: 0px;
                height: 200px;            

                .resource-bg {
                    position: absolute;
                    height: 190px;
                }

                .resource-die {
                    position: absolute;
                    height: 64px;
                    bottom: 35px;
                    left: 13px;
                }

                .resource-label {
                    position: absolute;
                    top: -8px;
                    left: 10%;
                    font-weight: bold;
                    text-align: center;
                    font-style: italic;
                    font-size: larger;
                }
            }
        }
    }
}

.roll-dialog {
    .step-up {
        font-size: x-large;
    }

    .step-down {
        font-size: x-large;
    }
    .challenge {
        display: flex;
        flex-direction: column;
        position: relative;
        border: 0px;
        height: 68px;

        .challenge-die {
            position: absolute;
            height: 64px;
            right: 30px;
        }
    }
}