@at-root .dee.sheet.actor.agent {
    min-width: 450px;
    max-width: 450px;
    min-height: 550px;

    img {
        border: 0px;
    }

    .sheet-header {
        input {
            border: 0px;
        }
    }

    .sheet-body {
        .hits {
            position: relative;
            border: 0px;
            height: 100px;
            padding: 5px;

            .hits-bg {
                position: absolute;
                height: 90px;
            }

            .hits-val {
                position: absolute;
                height: 80px;
                left: 20px;
                input {
                    width: 30px;
                    height: 24px;
                    font-size:1.7em;
                    border: 0px;
                    background-color:transparent;
                }
            }

            .resource-label {
                position: absolute;
                top: 12px;
                left: 20px;
                font-weight: bold;
                text-align: center;
                font-style: italic;
            }

            .hits-wounds {
                position: relative;

                input.wound1 {
                    position: absolute;
                    top: 68px;
                    left: 0px;
                }

                input.wound2 {
                    position: absolute;
                    top: 68px;
                    left: 33px;
                }
            }
        }

        .resources{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;

            .resource {
                position: relative;
                border: 0px;
                height: 200px;
            }

            .resource-bg {
                position: absolute;
                height: 190px;
            }

            .resource-die {
                position: absolute;
                height: 190px;
                top: 25px;
                left: 30px;
                input {
                    width: 50px;
                    height: 50px;
                    border: 0px;
                }
            }

            .resource-label {
                position: absolute;
                bottom: 30px;
                left: 15%;
                font-weight: bold;
                text-align: center;
                font-style: italic;
            }
        }
    }
}