@at-root .dee.sheet.actor.enemy {
    min-width: 440px;
    max-width: 450px;
    min-height: 400px;

    img {
        border: 0px;
    }

    .sheet-header-enemy-table {
        input {
            border: 0px;
        }

        .tradecraft-table {
            input[type=checkbox] {
                opacity: 0.2;
            }
            input[type=checkbox]:checked {
                opacity: 1;
            }
            div.A {
                background: url("/systems/dee/assets/default/icons/access.png") no-repeat;
                background-size: contain;
            }
            div.C {
                background: url("/systems/dee/assets/default/icons/conspiracy.png") no-repeat;
                background-size: contain;
            }
            div.K {
                background: url("/systems/dee/assets/default/icons/kit.png") no-repeat;
                background-size: contain;
            }
            div.M {
                background: url("/systems/dee/assets/default/icons/magic.png") no-repeat;
                background-size: contain;
            }
            div.S {
                background: url("/systems/dee/assets/default/icons/system.png") no-repeat;
                background-size: contain;
            }
            div.V {
                background: url("/systems/dee/assets/default/icons/vigilance.png") no-repeat;
                background-size: contain;
            }
        }


    }

    .sheet-body {
        .tab.editor.enemy-editor {
            height: 200px;
            div.editor {
                height: 200px;
            }
        }

        .notes-header {
            font-size: larger;
            font-weight: bold;
            text-align: left;
            font-style: italic;
            padding-left: 10px;
        }

        .potency {
            display: grid;
            width:100%;
            grid-template-columns: 80px 45px 1fr;
            align-items: flex-start;
            vertical-align:baseline;

            input {
                border: 0px;
                background-color: transparent;
            }
            .potency-header {
                font-weight: bold;
                font-style: italic;
                font-size: larger;
            }
    
            .potency-val {
                font-weight: bold;
                font-style: italic;
                font-size: 1.5em;
            }
        }

        .hitresolution {
            display: grid;
            width:100%;
            grid-template-columns: 50px 30px 1fr;
            align-items: flex-start;
            vertical-align:baseline;

            .hitres-header {
                font-weight: bold;
                font-style: italic;
                font-size: larger;
            }
    
            .hitres-button {
                font-weight: bold;
                font-style: italic;
                font-size: 1.5em;
            }
        }
        
        .abilities {
            .item-header {
                font-weight: bold;
                font-style: italic;
                font-size: large;
            }
        }

        .enemy-resistance-table {
            .resistance-header {
                font-size: larger;
                font-weight: bold;
                text-align: left;
                font-style: italic;
            }
        }

        .hits {
            position: relative;
            border: 0px;
            height: 100px;
            padding: 5px;

            .hits-bg {
                position: absolute;
                height: 90px;
            }

            .hits-val {
                position: absolute;
                height: 80px;
                left: 20px;
                input {
                    width: 30px;
                    height: 24px;
                    font-size:1.7em;
                    border: 0px;
                    background-color:transparent;
                }
            }

            .resource-label {
                position: absolute;
                top: 12px;
                left: 20px;
                font-weight: bold;
                text-align: center;
                font-style: italic;
            }
        }

        .armour {
            display: flex;
            flex-direction: column;
            position: relative;
            border: 0px;
            height: 100px;

            .armour-die {
                position: absolute;
                height: 80px;
                top: 55px;
                left: -5px;
            }
        }
    }
}